<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./styles.css" rel="stylesheet">
    <title>Good Reads 3.0</title>
</head>
<body>
    <div id="app">
        <section class="full_width">
            <h2 id="page_heading">Good Reads 3.0</h2>
        </section>
      
         <br/>
        <form class="full_width">
            <input v-model="bookName" placeholder="Book Title">
        
            <button @click.prevent="queryBook">Search Library</button>
        </form>
        <br>

      <div v-if="loading && query != ''">
        <strong>Loading...</strong>
      </div>
      <section id="search-results" v-else-if="!loading">
        <!-- for each book found, display the title, author, publish date, cover image, and an option to "favorite" that book
           (not all books have information for each field, so if the book does not have on of the fields, just do not display anything) -->
          
          <h4>Search Results: <span id="numResults" class="small-font">Found {{numFound}} matches</span></h4>
          <hr>
          
          <div class="" v-for="book in results">

            <input v-if="!book.favorited" type="checkbox" v-model="book.favorited"/>
            <span v-if="!book.favorited" class="small-font">Add to favorites</span><span v-else class="extra-small-font">Added to favorites</span><br>
              
            <div class="book-profile">
                <div class="book-cover-container">
                    <img class="book-cover" :src="book.bookCover">
                </div>
                
                <div class="immediate-info">
                    <p class="small-font">{{book.title}}</p> 
                    <p class="author">{{book.author}}</p>
                </div>

                <p class="publish-date">Published: {{book.publishDate}}</p>
            </div>
            <hr>
          </div>
           
      </section>
      <section id="favorites">
        
        <h4>Your Good Reads: <span class="extra-small-font">  (Uncheck to remove)</span></h4>
        <hr>
        <div v-for="favBook in favorites">
                <input type="checkbox" v-model="favBook.favorited"/><span class="extra-small-font">Favorite</span><br>
            <div class="fav-book-profile">
                <div class="fav-book-cover-container">
                    <img class="book-cover" :src="favBook.bookCover">
                </div>
                
                <div class="immediate-info">
                    <p class="small-font">{{favBook.title}}</p> 
                    <p class="author">{{favBook.author}}</p>
                </div>
            </div>
        </div>

      </section>
    </div>

        <!-- End of app -->
      </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>